@model EntityLayer.Concrete.Message2

@{
    ViewData["Title"] = "SendeMessage";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}



<h1>Yeni Mesaj Girişi</h1>
<br />

@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    @Html.Label("Alıcı")
   @*  @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" }) *@
    <input type="text" class="form-control" />
    <br />
    @Html.Label("Konu")
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    @Html.Label("Mesaj İçerigi")
    @Html.TextAreaFor(x => x.MessageDetails, 15, 5, new { @class = "form-control" })
    <br />
    <a href="/" class="btn btn-info">Mesajı Gönder</a>

} 